@tailwind base;
@tailwind components;
@tailwind utilities;

.scacchiera {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  border: 1px black solid;
}